// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

p {
   hyphens: none;
}


////// HEADER

.header {

   background-color: #c6daff;

   & > tbody > tr > th {
      padding-left: 30px !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;

      background: url("../assets/img/images/header-bg.png");
      background-size: 108%;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      direction: 1tr;
      padding-bottom: 0;
   }


   .logo-price {
      img {
         width: 70px;
      }
      th {
         padding-top: 20px;

         @media only screen and (max-width: #{$global-breakpoint}) {
            padding-left: 20px;
         }
      }
      p {
         font-size: 12px;
         margin-bottom: 2px;
      }

      &__price {
         th {
            padding-right: 30px !important;
         }
      }
   }

   .thanks {
      p {
         font-size: 20px;
         padding-bottom: 25px;
         margin-bottom: 0;
      }

      th {
         vertical-align: bottom;

         @media only screen and (max-width: #{$global-breakpoint}) {
            padding-left: 20px;
         }
      }

      .car-img {
         padding-bottom: 0;
         img {
            width: 160px;
            padding-right: 30px !important;

            @media only screen and (max-width: #{$global-breakpoint}) {
               float: left;
            }
         }
      }
   }
}


///// RECEIPT
.paymentInfo {

   & > tbody > tr > th {
      padding-left: 30px !important;
      padding-right: 30px !important;
      padding-bottom: 20px;
      // border-bottom: 1px solid #009eb7;
   }

   .total {
      &__price {

         img {
            display: inline-block;
            vertical-align: middle;
            padding-bottom: 2px;
            width: 13px;
         }
      }

   }

}
