// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

p {
   hyphens: none;
}

// .section-padding {
//    &  > table > tbody > tr {
//       padding-left: 20px !important;
//       padding-right: 20px !important;
//    }
// }

// HEADER

.header {


   background-color: #c6daff;


   & > tbody > tr > th {
      padding-left: 30px !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;

      background: url("../assets/img/images/header-bg.png");
      background-size: 95%;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      direction: 1tr;
      padding-bottom: 0;
   }

   .logo-price {
      img {
         width: 70px;
      }
      th {
         padding-top: 20px;
      }
      p {
         font-size: 12px;
         margin-bottom: 2px;
      }

      &__price {
         th {
            padding-right: 30px !important;
         }
      }
   }

   .thanks {
      p {
         font-size: 20px;
         padding-bottom: 40px;
         margin-bottom: 0;
      }
      img {
         width: 144px;
      }
      th {
         vertical-align: bottom;
      }

      .car-img {
         // background: url("../assets/img/images/header-bg.png");
         // background-repeat: no-repeat;
         // background-position: 100% 100%;
         // background-size: 200%;
         // direction: 1tr;
         // padding-bottom: 0;

         // text-align: left;
      }
   }
}
