// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

p {
   hyphens: none;
}


////// HEADER

.header {

   background-color: #c6daff;

   & > tbody > tr > th {
      padding-left: 30px !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;

      background: url("../assets/img/images/header-bg.png");
      background-size: 108%;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      direction: 1tr;
      padding-bottom: 0;
   }


   .logo-price {
      img {
         width: 70px;
      }
      th {
         padding-top: 20px;

         // @media only screen and (max-width: #{$global-breakpoint}) {
         //    padding-left: 20px;
         // }
      }
      p {
         font-size: 12px;
         margin-bottom: 2px;
      }

      &__price {
         th {
            padding-right: 30px !important;

            @media only screen and (max-width: #{$global-breakpoint}) {
               padding-right: 0 !important;
            }
         }
      }
   }

   .thanks {
      p {
         font-size: 20px;
         padding-bottom: 25px;
         margin-bottom: 0;
      }

      th {
         vertical-align: bottom;

         // @media only screen and (max-width: #{$global-breakpoint}) {
         //    padding-left: 20px;
         // }
      }

      .car-img {
         padding-bottom: 0;
         img {
            width: 160px;
            padding-right: 30px !important;

            @media only screen and (max-width: #{$global-breakpoint}) {
               float: left;
            }
         }
      }
   }
}


///// RECEIPT

//pay-info
.paymentInfo {

   & > tbody > tr > th {
      padding-left: 30px !important;
      padding-right: 30px !important;
      padding-bottom: 10px;
   }

   .total {
      &__price {

         img {
            display: inline-block;
            vertical-align: middle;
            padding-bottom: 2px;
            width: 13px;
         }
      }
   }

   .border-line {
      height: .75px;
      background: #009eb7;

      & > tbody > tr > th {
         padding-bottom: 0;
      }
   }

   // receipt
   .receipt {

      p {
         font-size: 15px;
         margin-bottom: 0;
         Margin-bottom: 0;
      }

      &__fees {
         img {
            display: inline-block;
            vertical-align: middle;
            padding-left: 5px;
            padding-bottom: 3px;
            width: 15px;
         }
      }

      &__fare {
         & > tbody > tr > th {
            padding-bottom: 30px;
         }
      }

      &__note {
         p {
            font-size: 12px;
            line-height: 20px;
         }
      }

      &__paymethod {

         img {
            display: inline-block;
            width: 35px;
            padding-right: 12px;
            vertical-align: middle;
         }
         .cardInfo {
            p {
               display: inline-block;
               vertical-align: middle;
               padding-right: 10px;
            }
         }

         .paymethodPrice {
            vertical-align: middle;
         }
         a {
            vertical-align: middle;
         }
      }

      .border-line {
         height: .75px;
         background: #bdbdbd;
      }

   }
}

.uberRewards {
   & > tbody > tr > th {
      padding-left: 30px !important;
      padding-right: 30px !important;
      padding-bottom: 20px !important;
   }

   &__header {

      th > img {
         width: 13px;
         display: inline-block;
         padding-right: 5px;
      }

      p {
         display: inline-block;
         font-size: 16px;
      }
   }

   &__basePoints {

      vertical-align: middle;
      p {
         margin-bottom: 0;
         Margin-bottom: 0;
      }
      & > tbody > tr > th {
         padding-bottom: 12px !important;
      }

      .basePointstxt {

         p {
            font-size: 15px;
            display: inline-block;
            vertical-align: middle;
            line-height: 1px;
         }
         img {
            width: 15px;
            display: inline-block;
            vertical-align: middle;
            padding-left: 5px;
         }
      }

      .pointNum {
         float: right;
      }
   }

   .border-line {
      height: .75px;
      background: #bdbdbd;
      // padding-bottom: 0 !important;

      th {
         padding-bottom: 0;
      }
   }
}

//// DRIVER INFO

.driverInfo {
   background: #f8f8fa;

   & > tbody > tr > th {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
   }

   h4 {
      margin-bottom: 30px;
      Margin-bottom: 30px;
   }
   p {
      margin-bottom: 10px;
      Margin-bottom: 10px;
   }
   a {
      span {
         padding-left: 4px;
         vertical-align: middle;
      }
   }
}


//// DESTINATION
.destination {

   & > tbody > tr > th {
      // padding-bottom: 30px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
   }

   p {
      font-size: 15px;
   }

   &__distTime {
      p {
         display: inline-block;
         color: #595959;
      }
      .uberX {
         background: #000;
         background-color: #000;
         color: #fff;
         text-align: center;
         font-size: 12px;
         padding-top: 4px;
         padding-bottom: 4px;
         padding-left: 10px;
         padding-right: 10px;
         border-radius: 20px;
         margin-right: 10px;
      }
   }

   .address {
      
      .graphic {
         img {
            width: 10px;
         }
      }

      .to-from {
         p {
            margin-bottom: 30px;
            margin-bottom: 30px;
            line-height: 25px;
         }
         a {
            line-height: 25px;
         }
      }
   }
}
