<container>
   <row class="destination">
      <columns>

         <spacer size="40"></spacer>
         <!-- distTime -->
         <row class="destination__distTime">
            <columns>
               <p class="uberX">UberX</p>
               <p>4.15 miles &nbsp; | &nbsp 11 min</p>
            </columns>
         </row>

         <!-- address -->
         <row class="address">
            <!-- graphic -->
            <columns class="graphic" small="1" large="1">
               <img src="https://i.imgur.com/ZzbebXW.png" alt="">
            </columns>

            <!-- to-from -->
            <columns class="to-from" small="11" large="5">
               <p>12:14 PM<br>
                  <a href="#">
                     123 Start Address, City,<br>
                     ST, 12345, USA
                  </a>
               </p>
               <p>12:25 PM<br>
                  <a href="#">
                     456 End Address, City,<br>
                     ST, 12345, USA
                  </a>
               </p>
            </columns>

            <!-- map -->
            <columns class="map" small="" large="6">
               <img src="https://i.imgur.com/NLrQXfk.png" alt="">
            </columns>

         </row>
      </columns>
   </row>

</container>
