<container>
   <!-- footer menu -->
   <row class="footer__menu">
      <columns large="4">
         <a href="https://help.uber.com/riders/article/contact-driver-about-a-lost-item?nodeId=53539bde-f6f4-4909-85de-fa0b99f82be0">
            Report lost item <span>❯</span>
         </a>
      </columns>
      <columns large="4">
         <a href="https://help.uber.com/">
            Contact support <span>❯</span>
         </a>
      </columns>
      <columns large="4">
         <a href="https://help.uber.com/">
            My trips <span>❯</span>
         </a>
      </columns>
   </row>
</container>


<container>
   <wrapper class="footer">

      <container>
         <!-- logo -->
         <row class="footer__logo">
            <columns>
               <img src="{{root}}assets/img/images/logo_white.png" alt="">
            </columns>
         </row>

         <!-- border-line -->
         <row class="border-line">
            <columns></columns>
         </row>

         <!-- footer links -->
         <row class="footer__links">
            <columns class="column-1">
               <a href="#">Forgot password</a>
               <a href="#">Privacy</a>
               <a href="#">Terms</a>
            </columns>
            <columns class="column-2">
               <p>Uber B.V.</p>
               <a href="#">Mr. Treublaan 7</a>
               <a href="#">1097 DP Amsterdam</a>
            </columns>
         </row>
      </container>

   </wrapper>

</container>
