<container>
   <!-- footer menu -->
   <row class="footer__menu">
      <columns large="4">
         <a href="https://help.uber.com/riders/article/contact-driver-about-a-lost-item?nodeId=53539bde-f6f4-4909-85de-fa0b99f82be0">
            Report lost item <span>❯</span>
         </a>
      </columns>
      <columns large="4">
         <a href="https://help.uber.com/">
            Contact support <span>❯</span>
         </a>
      </columns>
      <columns large="4">
         <a href="https://help.uber.com/">
            My trips <span>❯</span>
         </a>
      </columns>
   </row>
</container>


<container>
   <row class="footer">
      <columns>

         <row class="footer__logo">
            <columns>
               <img src="https://i.imgur.com/qflgeVH.png" alt="">
            </columns>
         </row>

         <row class="border-line">
            <columns></columns>
         </row>

         <row class="footer__links">
            <columns class="column-1">
               <a href="#">Forgot password</a>
               <a href="#">Privacy</a>
               <a href="#">Terms</a>
            </columns>
            <columns class="column-2">
               <p>Uber B.V.</p>
               <a href="#">Mr. Treublaan 7</a>
               <a href="#">097 DP Amsterdam</a>
            </columns>
         </row>

      </columns>
   </row>
</container>
