<container>
   <row class="footer">
      <columns>
         <!-- footer menu -->
         <row class="footer__menu">
            <columns large="4">
               <a href="https://help.uber.com/riders/article/contact-driver-about-a-lost-item?nodeId=53539bde-f6f4-4909-85de-fa0b99f82be0">
                  Report lost item <span>❯</span>
               </a>
            </columns>
            <columns large="4">
               <a href="https://help.uber.com/">
                  Contact support <span>❯</span>
               </a>
            </columns>
            <columns large="4">
               <a href="https://help.uber.com/">
                  My trips <span>❯</span>
               </a>
            </columns>
         </row>

         <!-- footer__footer -->
         <row class="footer__footer">
            <columns>
               <row class="footer-logo">
                  <columns>
                     <img src="{{root}}assets/img/images/logo_white.png" alt="">
                  </columns>
               </row>

               <!-- Border-line -->
               <row class="border-line">
                  <columns></columns>
               </row>

               <!-- footer__links -->
               <row class="footer__links">
                  <columns>
                     <a href="https://help.uber.com/riders/article/i-forgot-my-password-?nodeId=6949160d-3eb6-42cd-8155-1ae3cf25be0b">Forgot password</a>

                     <a href="https://www.uber.com/legal/en/document/?country=united-states&lang=en&name=privacy-notice">Privacy</a>

                     <a href="https://www.uber.com/legal/en/">Terms</a>
                  </columns>

                  <columns>
                     <p>Uber B.V.</p>
                     <a href="https://www.google.com/maps/place/Mr.Treublaan+7,+1097+DP+Amsterdam,+Netherlands/@52.348441,4.9146469,17z/data=!3m1!4b1!4m5!3m4!1s0x47c60981a218010d:0x76ec2d11a2732f43!8m2!3d52.348441!4d4.9146469">Mr. Treubiaan 7</a>
                     <a href="https://www.google.com/maps/place/Mr.Treublaan+7,+1097+DP+Amsterdam,+Netherlands/@52.348441,4.9146469,17z/data=!3m1!4b1!4m5!3m4!1s0x47c60981a218010d:0x76ec2d11a2732f43!8m2!3d52.348441!4d4.9146469">1097 DP Amsterdam</a>
                  </columns>
               </row>

            </columns>
         </row>

      </columns>
   </row>
</container>
