<container>
   <row class="header">
      <columns>
         <!-- logo-price -->
         <row class="logo-price">
            <columns small="3">
               <img src="https://i.imgur.com/nm9xeaz.png" alt="">
            </columns>
            <columns class="logo-price__price" small="9">
               <p class="text-right">Total $13.12</p>
               <p class="text-right">March 5, 2021</p>
            </columns>
         </row>

         <spacer size="20"></spacer>

         <!-- Thanks -->
         <row class="thanks">
            <columns large="7">
               <h2>Thanks for riding,<br>
               Firstname</h2>
               <p>We're glad to have you as an Uber<br>
                  Rewards Blue Member.</p>
            </columns>
            <columns class="car-img" large="5">
               <img class="float-right" src="https://i.imgur.com/i8C8vFa.png" alt="">
            </columns>
         </row>
      </columns>
   </row>
</container>
